httpx
uvicorn
fastapi
fastapi-utils
python-dotenv
sqlalchemy
sqlalchemy-cockroachdb
sqlmodel
asyncpg
python-dotenv
txtmarker
dependency-injector
langchain
bcrypt
redis
miniopy-async
unstructured[all-docs]
litellm
langgraph
ragas