httpx
uvicorn
fastapi
python-dotenv
sqlalchemy
sqlalchemy-cockroachdb
sqlmodel
asyncpg
python-dotenv
txtmarker
dependency-injector
langchain
bcrypt
redis
minio
unstructured[all-docs]
litellm
langgraph
ragas
paddleocr
sentence-transformers
pydantic-settings